OPENAI_API_KEY                  = "Dev key, please mindful when using"

LANGCHAIN_CALLBACKS_BACKGROUND  = true
LANGCHAIN_TRACING_V2            = true
LANGCHAIN_API_KEY               = "Register LangSmith -> Put it here"
LANGCHAIN_PROJECT               = "Change it to what ever"

QDRANT_URL                      = "Advanced - Dont need to care now"

TAVILY_KEY                      = "If needed"
